@model IEnumerable<WebSite.Models.Monograph>

@{
    ViewBag.Title = "Монография";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Монография</h2>
<p>
    @Html.ActionLink("Добавить монографию", "CreateM")
</p>
 
<div>
    @Html.ActionLink("К списку", "Index")
</div>